
@import "size";

/**
 * 以下是 边框 通用 css
 */


.padding-small{
  padding: @small-size;
}

.padding-medium{
  padding: @medium-size;
}


.padding-large{
  padding: @large-size;
}

.padding-large-x{
  padding: @large-x-size;
}

.padding-large-xx{
  padding: @large-xx-size;
}




.margin-small{
  margin: @small-size;
}

.margin-medium{
  margin: @medium-size;
}
.margin-large{
  margin: @large-size;
}

.margin-large-xx{
  margin:  @large-x-size;
}

.margin-64{
  margin: @large-xx-size;
}

.border-normal{
  border: 1px solid ghostwhite;
}

.border-shadow{
  box-shadow: 0px 0px 4px gray;
}